$black-light: #262626;
$black-primary: #191919;
$black-dark: #111111;

$white-primary: #F5F5F5;
$white-dark: #C2C2C2;

$red-light: #F03C54;
$red-primary: #DC1A34;
$red-dark: #990015;

$yellow-lighter: #FFEF95;
$yellow-light: #FFE44D;
$yellow-primary: #EED12F;
$yellow-dark: #B29909;