header{
    width: 100%;
    position: fixed;
    z-index: 800;
    padding-top: 16px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1440px;
    margin: 0 auto;
}
.nav-menu{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 16px;
}

.nav-list{
    list-style: none;
    display: flex;

    li{
        margin-left: 24px;
    }
}

.nav-link{
    display: inline-block;
    text-decoration: none;

    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 200;

    padding: 8px 16px;

    color: $white-dark;

    text-transform: uppercase;
    transition: all .7s ease;

    position: relative;
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 2px;
        background: #3700b3;
        transition: width .7s ease;
        background: linear-gradient(270deg, #EDD02F 1.72%, rgba(237, 208, 47, 0) 100%);
        border-radius: 8px;
    }

    &:hover{
        color: $white-primary;
        transition: 0.7s ease;

        &::after{
            width: 55px;
        }
    }
}
#nav-wallpaper{
    &:hover{
        color: $white-primary;
        transition: 0.7s ease;

        &::after{
            width: 99px;
        }
    }
}
#nav-long{
    color: $yellow-light;

    &:hover{
        color: $yellow-lighter;
        transition: 0.7s ease;

        &::after{
            width: 180px;
        }
    }
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;

    svg{
        margin-left: 20px;
        width: 20px;

        cursor: pointer;

        path, circle{
            transition: .7s ease;
        }

        &:hover{
            path, circle{
                fill: $yellow-light;
                transform: translate3d(0, -2px, 0);
            }
        }
    }
}